<form [formGroup]="myform" (ngSubmit)="Saveuser()">
<h1 mat-dialog-title>{{inputdata.title}}</h1>
<div mat-dialog-content>
   <mat-form-field>
    <mat-label>titre</mat-label>
    <input formControlName="titre" matInput>
   </mat-form-field>
   <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="Description" >
   </mat-form-field>
   <mat-form-field>
    <mat-label>fileData</mat-label>

    <input matInput   formControlName="fileData" >

   </mat-form-field>
   <div>
    <mat-checkbox formControlName="status">Is Active</mat-checkbox>
   </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Save</button>
  <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
  <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button> -->
</div>
</form>